<md-card fxLayout="row">
  <img src="http://images.entertainment.ie/images_content/rectangle/620x372/E-T.jpg" alt="Missing photo">
  <!-- <md-input-container fxFlex dividerColor="warn"></md-input-container> -->
  <md-input-container>
    <input mdInput type="text" placeholder="Make todo in the list" required>
  </md-input-container>
  <md-input-container>  <input mdInput type="date" placeholder="Make todo in the list" required>
  </md-input-container>
  <md-input-container>
    <input mdInput type="time" placeholder="Make todo in the list" required>
  </md-input-container>

</md-card>