<h1>
  Add Item To The List
</h1>
<hr/>
<md-card fxLayout="row">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="from-group">
      <md-input-container>
        <input mdInput type="text" name="msg" ngModel placeholder="What to do?" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input mdInput type="text" name="date" placeholder="Date Picker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}" bsDatepicker ngModel required>
      </md-input-container>
    </div>
    <div class="form-group text-center" style="width: 20%;">
      <timepicker  name="time" ngModel [showSeconds]="showSec" [showMeridian]="false"></timepicker>     
    </div>
    <div>
      <button md-raised-button color="primary" type="submit">Add</button>
    </div>

  </form>
</md-card>
