/* @import "https://fonts.fontstorage.com/import/flow.css"; */

.glyphicon {
    font-size: 20px;
}

.auth {
    display: inline;
}

h1 {
   /* font-family: 'Flow ';*/
    font-size: 40px;
}

md-card {
    margin: 0 auto;
}

.loggedIn{
    size:20px;
    color:red;
}
