.glyphicon.glyphicon-remove {
    display: inline-block;
    color: red;
}

#time {
    display: inline-block;
}

.glyphicon.glyphicon-ok {
    color:green;
}

.form-group {
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}