<div>
  <div>
    Personal Info
    <hr>
  </div>
  <md-card>
  <form>
    <div class="form-group">
      <label for="firstName"> First Name </label>
      <input type="text" id="firstName" class="form-control" value="first_name"> 
    </div>
    <div class="form-group">
      <label for="lastName"> Last Name </label>
      <input type="text" id="lastName" class="form-control" value="last_name"> 
    </div>
    <div class="form-group">
      <label for="phoneNumber"> Phone Number </label>
      <input type="text" id="phoneNumber" class="form-control" value=""> 
    </div>
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="text" id="email" class="form-control" value="email"> 
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-primary form-control" value="Update"> 
    </div>
  </form>
  </md-card>
</div>