<div>
  <div>
    Personal Info
    <hr>
  </div>
  <md-card>
    <form [formGroup]="form" (ngSubmit)="update()">
      <div class="form-group">
        <label for="firstName"> First Name </label>
        <input type="text" id="firstName" class="form-control" #firstName formControlName="firstName">
      </div>
      <div class="alert alert-warning" *ngIf="checkValid('firstName')">
        first Name is NOT valid
    </div>
      <div class="form-group">
        <label for="lastName"> Last Name </label>
        <input type="text" id="lastName" class="form-control" #lastName formControlName="lastName">
      </div>
      <div class="alert alert-warning" *ngIf="checkValid('lastName')">
        las tName is NOT valid
    </div>
      <!-- <div class="form-group">
      <label for="phoneNumber"> Phone Number </label>
      <input type="text" id="phoneNumber" class="form-control" value=""> 
    </div> -->
      <!-- <div class="form-group">
        <label for="email"> Email </label>
        <input type="text" id="email" class="form-control" #email formControlName="email">

      </div>
      <div class="alert alert-warning" *ngIf="checkValid('email')">
        Email is NOT valid
    </div> -->
      <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Update" >
      </div>
    </form>
  </md-card>
</div>